body.light-mode {
  background-color: darkblue;
  transition: 0.5s;
}

body.dark-mode {
  background-color: black;
  transition: 0.5s;
}

label .check.light-mode {
  background: #101010;
  box-shadow: 0 0 0 4px #101010;
  transition: 0.5s;
}

label .check.dark-mode {
  background: #f4f4f4;
  box-shadow: 0 0 0 4px #f4f4f4;
  transition: 0.5s;
}

label .botn.light-mode::before {
  background: #252525;
  transition: 0.5s;
  box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3);
}

label .botn.dark-mode::before {
  background: #5f5f5f;
  transition: 0.5s;
  box-shadow: inset -5px -5px 15px rgb(255, 255, 255);
}

label .botn.light-mode::after {
  background: #252525;
  transition: 0.5s;
  box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3);
}

label .botn.dark-mode::after {
  background: #5f5f5f;
  transition: 0.5s;
  box-shadow: inset -5px -5px 15px rgb(255, 255, 255);
}

.game-board.light-mode {
  background-color: whitesmoke;
  transition: 0.5s;
}

.game-board.dark-mode {
  background-color: cornsilk;
  transition: 0.5s;
}

.highest-score.light-mode, .score.light-mode {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.highest-score.dark-mode, .score.dark-mode {
  background-color: white;
  transition: 0.5s;
  color: black;
}

.head {
  background-color: red;
}

.tail {
  background-color: blue;
}

.food {
  background-color: rgb(0, 210, 0);
}

.touch-screen-btn.light-mode {
  background-color: #333;
  color: white;
}

.touch-screen-btn.dark-mode {
  background-color: white;
  color: #333;
}