label {
  top: 90%;
  right: 12%;
  width: 20px;
  height: 10px;
}

label input {
  width: 20px; /* Custom checkbox size */
  height: 10px;
}

label .botn {
  width: 10px;
  height: 10px;
}

label .botn::before {
  width: 3px;
  height: 10px;
}

label .botn::after {
  width: 3px;
  height: 10px;
}

label input:checked ~ .botn {
  left: 10px;
}

.container {
  height: min-content;
  justify-content: start;
  gap: 1.5rem;
}

.game-board {
  border: 8px solid grey;
  width: 90vw;
  height: 40vh;
}

.highest-score,
.score {
  font-size: 12px;
  padding: 3px;
  width: 120px;
}

.head {
  width: 10px;
  height: 10px;
}

.tail {
  width: 10px;
  height: 10px;
}

.food {
  width: 10px;
  height: 10px;
}

.hide {
  display: block;
}

.touch-screen-btns {
  /* border: 2px solid black; */
  padding: 5px;
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
  gap: 7px;
  position: absolute;
  top: 60%;
}

.touch-screen-btn {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.touch-screen-btn:active {
  transform: scale(0.95);
}

.up {
  grid-area: up;
}

.down {
  grid-area: down;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}
